body{
    display: block;
    margin:0 auto;
}

html, body {
    overflow: hidden;
}

@font-face {
    font-family: 'Hobo';
    src: url('../fonts/HoboStd.otf');
}

/*#tutorial-btn{
    position: fixed;
    bottom: 10%;
    left: 45%;
}*/

.button-blue {
  background: #66bdf7;
  background-image: -webkit-linear-gradient(top, #66bdf7, #2f8bc4);
  background-image: -moz-linear-gradient(top, #66bdf7, #2f8bc4);
  background-image: -ms-linear-gradient(top, #66bdf7, #2f8bc4);
  background-image: -o-linear-gradient(top, #66bdf7, #2f8bc4);
  background-image: linear-gradient(to bottom, #66bdf7, #2f8bc4);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Arial;
  color: #ffffff;
  font-size: 32px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button-blue:hover {
  background: #007bc7;
  background-image: -webkit-linear-gradient(top, #007bc7, #0e5b8f);
  background-image: -moz-linear-gradient(top, #007bc7, #0e5b8f);
  background-image: -ms-linear-gradient(top, #007bc7, #0e5b8f);
  background-image: -o-linear-gradient(top, #007bc7, #0e5b8f);
  background-image: linear-gradient(to bottom, #007bc7, #0e5b8f);
  text-decoration: none;
}

















